body {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 75px;
    background-color: rgba(241, 228, 205, 0.27);
    padding: 33px;
    padding-left: 17px;
}

.display {
    display: flex;
    flex-direction: column;
}

.solution-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 750px;
    flex-wrap: wrap;
}

.equation-component {
    text-align: center;
    background-color: #ff9a8a;
    width: 75px;
    padding: 8px;
    border-radius: 14px;
}

#input, #submit {
    font-size: 75px;
    font-weight: 200;
    height: 100px;
    width: 475px;
    margin: 0 17px 17px 0;
    margin-top: 0;
    margin-bottom: 17px;
    padding: 8px;
    border: none;
    border-radius: 14px;
}

#input {
    background-color: #f1e4cd;
}

#submit {
    width: 492px;
    background-color: #55bf49;
}

#test {
    background-color: yelow;
}